<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HTTP Error API</title>
<link rel="stylesheet" href="https://stackedit.io/res-min/themes/base.css" />
<style>
h1, h2, h3, h4, h5, h6 {
  margin: 0.75em 0;
}
</style>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
</head>
<body><div class="container"><h1 id="http-error-api">HTTP Error API</h1>
<h2 id="star-me-on-github"><a href="https://github.com/UnSstrennen"><strong>Star me on GitHub!</strong></a></h2>
<p>This simple project made for web developers who need to test their apps about correct error handling.</p>
<h2 id="how-to-use-that">How to use that?</h2>
<p>Just make a request in format like <code>http://httpme.tk/&lt;status_code&gt;</code>. <strong>HTTPS is also supported!</strong></p>
<p>Python example:</p>
<pre class="prettyprint"><code class="language-python hljs "><span class="hljs-keyword">from</span> requests <span class="hljs-keyword">import</span> get
get(<span class="hljs-string">'http://httpme.tk/200'</span>)  <span class="hljs-comment"># &lt;Response [200]&gt;</span>
get(<span class="hljs-string">'http://httpme.tk/401'</span>)  <span class="hljs-comment"># &lt;Response [401]&gt;</span>
get(<span class="hljs-string">'http://httpme.tk/404'</span>)  <span class="hljs-comment"># &lt;Response [404]&gt;</span>
get(<span class="hljs-string">'http://httpme.tk/500'</span>)  <span class="hljs-comment"># &lt;Response [500]&gt;</span></code></pre>
<p>© Un Sstrennen, 2020</p></div></body>
</html>
